.vector {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 50px;
    width: 80px;
    height: 60px;
    background: #8fd299;
    clip-path: polygon(25% 0%, 70% 0, 45% 100%, 0% 100%);
    z-index: 2;
  }
}
