.nav {
  z-index: 5;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;

  background-color: transparent;
  transition: background-color 0.3s ease;

  .dividerWrapper {
    transition: opacity 0.3s ease;
  }

  &.scrolled {
    background-color: #374B47;
    border-top: none !important;
  }

  &.scrolled .dividerWrapper {
    opacity: 0;
  }

}

