.nav {
  z-index: 5;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;

  background-color: transparent;
  transition: background-color 0.3s ease;

  .dividerWrapper {
    transition: opacity 0.3s ease;
  }

  &.scrolled .dividerWrapper {
    opacity: 0;
  }

  @media (max-width: 768px) {

    .dividerWrapper {
      display: none;
    }
  }

  @media (min-width: 769px) {
    .mantine-Burger-root {
      display: none;
    }
  }
}

.scrolled {
  background-color: #374b47;
  border-top: none !important;
}



