* {
  --background-color: #fff;
  --font-white-color: #000;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: cornflowerblue;
  /* background-color: var(--background-color, #000); */
  /* color: var(--font-white-color, #fff); */
}
