@use "../../lib/colors.scss" as colors;

.label {
  color: black;
}

.input {
  transition: none;

  @include colors.placeholder(colors.$placeholder-color);

  @include colors.focus-effect(colors.$accent-color, rgba(0, 0, 0, 0.3));

  resize: vertical;
  overflow: auto;
  min-height: 60px;
}
