@use "../../lib/colors.scss" as colors;

.sec_tr {
  position: relative;
  background-image: url("https://beratung.vamtam.com/wp-content/uploads/2023/07/GettyImages-1440181617.jpg");
  background-size: cover;
  background-position: center;
  color: colors.$white;
  height: 550px;
}

.vector {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 10px;
    width: 80px;
    height: 60px;
    background: colors.$primary-color;
    clip-path: polygon(25% 0%, 70% 0, 45% 100%, 0% 100%);
    z-index: 2;
  }
}

.flexs {
  justify-content: flex-end;
  padding-bottom: 50px;
}
