@use "../../lib/colors.scss" as colors;

.languageSwitcher {
  background-color: transparent;
  border-radius: 0 !important;
  border-color: colors.$white;
  color: colors.$white;

  &:active {
    border-color: colors.$primary-color;
  }
}


.icons svg{
  color: colors.$white;
}